@import "normalize.css";
@import "grid-bootstrap.css";
@import "responsive.css";
body {
  color: #444 !important;
  background: #f4f4f4 !important;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-size: 14px;
}
img{
  max-width: 100%;
}
ol, ul, li {
  list-style: none;
}
a{
  text-decoration: none;
}
p, h1, h2 {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
}
.content {

}
.row {
  padding: 0 15px;
}
#header {
  background: rgba(47,47,47,0.98);
  width: 100%;
  height: 56px;
  margin-bottom: 20px;
}
#header-inner {
    margin: 0 auto;
    padding: 0 10px 0 30px;
    position: relative;
}
.logo {
  background-image: url('../img/dribbble-logo.svg');
  display: block;
  width: 76px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  -webkit-background-size: 76px 19px;
  -moz-background-size: 76px 19px;
  background-size: 76px 19px;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.shot-search {
  position: absolute;
  top: 12px;
  right: 30px;
}

input {
  outline: none;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid transparent;
}

select {
  float: right;
  margin: 10px 20px;
  background: transparent;
  border: none;
  outline: none;
}

.search-results {
  width:180px;
  background: rgba(47,47,47,1);
  border: 1px solid black
  padding 10px;
  position: absolute;
  z-index: 999;
  color: #999;
  right: -2px;
  padding: 15px;
  border-radius: 2px;
  border: 1px solid transparent;
}

.search-results--list img{
  width: 100%;
  max-width: 80px;
}

.main-content {
  padding: 30px 30px 40px 30px;
  width: 100vw;
  box-sizing: border-box;
}

.wrap-shots {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.shot-component-content {
  margin: 10px;
}

.shot {
  position: relative;
  margin: 10px;
}
.hidden-label-info {
  position: absolute;
  top: 15px;
  padding: 5px 20px;
  width: 85%;
  opacity: 0;
  cursor: pointer;
  padding: 5px 15px;
}

.hidden-label-info:hover {
  opacity: 0.9;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.shot-icons {
  height: 25px;
  display: flex;
}

.material-icons {
  font-size: 14px;
  margin-right: 4px;
}

.align-icons {
  display: flex !important;
  align-items: center;
}

.shot-icons span{
  display: block;
  margin-right: 5px;
}

.btn-icon {
  background: transparent;
  border: transparent;
  outline: none;
  cursor: pointer;
}

.btn-icon .material-icons {
  font-size: 18px;
}

.btn-close-modal {
  position: absolute;
  top: 15px;
  right: 30px;
}
.btn-close-modal .material-icons {
  font-size: 20px;
}
.shot-label-title {
  font-size: 13px;
}
.shot-label-description {
  font-size: 11px;
  width: 70%;
  height: 97px;
  display: block;
  overflow: hidden;
}
.shot-label-user {
  color: #3a8bbb;
  font-size: 12px;
}
.user-label{
  display: flex;
  align-items: center;
}
.avatar-label{
  width: 16px;
  height: 16px;
  margin: 1px 5px 0 0;
  border-radius: 50%;
}

/* Modal style */
modal {

    display: none;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
}

.modal-body {
  padding: 20px;
  background: #fff;
  margin: 40px;
  position: relative;
}

.modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.75;
  z-index: 900;
}

body.modal-open {
  overflow: hidden;
}
