<div class="container" ng-controller="ShotsCtrl">
  <search-component></search-component>
  <select ng-model="showShotComponent">
  <option value="small">Small
  <option value="large">Large
</select>
<section ng-switch="showShotComponent">
  <div class="wrap-shots" ng-switch-when="small">
    <shot-component></shot-component>
  </div>
  <div class="wrap-shots" ng-switch-when="large">
    <shot-bigger-component></shot-bigger-component>
  </div>
  <div ng-switch-default>
     <shot-component></shot-component>
  </div>
  </section>
</div>
<footer>
  <a ng-href="{{app.url}}">Zup Challenge</a>
</footer>
