<form class="shot-search">
    <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-search"></i></div>
     <input type="text" ng-model="searchKeyword" placeholder="Search">
     <div ng-show="searchKeyword" class="ng-hide search-results">
       <h2 class="search-results--label">Shots</h2>
       <ul class="search-results--list" ng-repeat="shot in shots | filter: searchKeyword">
         <li>
          <a ng-click="update(shot)" ui-sref="shotItem({shotID: {{shot.id}}})">
          <img ng-src="{{shot.images.teaser}}" alt="{{shot.title}}">
          </a>
          <p>{{shot.title}}</p>
          <p>{{shot.user.name}}</p>
         </li>
       </ul>
     </div>
    </div>
  </div>
</form>
