<div class="container" ng-controller="ModalCtrl">
  <header id="header">
    <div id="header-inner">
      <h1>
        <a href="/" class="logo"></a>
      </h1>
      <search-component></search-component>
    </div>
  </header>
  <div class="row">
    <div class="cold-md-12">
      <img ng-src="{{shotItem.user.avatar_url}}" alt="" class="avatar-label">
      <h2 class="shot-label-user">{{shotItem.user.name}}</h2>
      <h1>{{shotItem.title}}</h1>
      <img ng-src="{{shotItem.images.normal}}" alt="{{shotItem.title}}">
      <div class="align-icons">
      <button ng-click="count = count + 1" ng-init="count=shotItem.likes_count"class="btn-icon"><i class="material-icons">&#xE87D;</i></button>
      <p>{{count}}</p>
    </div>
    </div>
  </div>
</div>
