<div class="container" ng-controller="ShotsCtrl">
  <header id="header">
    <div id="header-inner">
      <h1>
        <a href="/" class="logo"></a>
      </h1>
      <search-component></search-component>
    </div>
  </header>
  <div class="row">
    <select ng-model="showShotComponent">
    <option value="">Altere o tamanho</option>
    <option value="small">Small</option>
    <option value="large">Large</opton>
  </select>
  <section ng-switch="showShotComponent" class="main-content">
    <div class="wrap-shots" ng-switch-when="small">
      <shot-component></shot-component>
    </div>
    <div class="wrap-shots" ng-switch-when="large">
      <shot-bigger-component></shot-bigger-component>
    </div>
    <div ng-switch-default class="wrap-shots">
       <shot-component></shot-component>
    </div>
    </section>
  </div>
</div>
