<div class="shot-component-content" ng-repeat="shot in shots | filter: searchKeyword" ng-click="vm.openModal('custom-modal-' + $id)">
  <!-- <a  ui-sref="modal({ shotID: {{shot.id}}})">{{ 'custom-modal-' + $id }}</a> -->
  <div class="shot">
    <img ng-src="{{shot.images.normal}}" alt="{{shot.title}}">
    <div class="shot-label">
      <span>{{shot.views_count}}</span>
      <span>{{shot.comments_count}}</span>
      <span>{{shot.likes_count}}</span>
    </div>
    <div class="shot-label hidden-label-info">
      <p class="shot-label-title">{{shot.title}}</p>
      <p class="shot-label-description">{{shot.description}}</p>
    </div>
    <div class="user-label">
      <img ng-src="{{shot.user.avatar_url}}" alt="" class="avatar-label">
      <h2 class="shot-label-user">{{shot.user.name}}</h2>
    </div>
  </div>
  <modal id="{{ 'custom-modal-' + $id }}">
      <div class="modal">
          <div class="modal-body">
            <p>{{shot.title}}</p>
            <img ng-src="{{shot.images.normal}}" alt="{{shot.title}}">
            <p>{{shot.description}}</p>
            <div class="align-icons">
              <button ng-click="count = count + 1" ng-init="count=shot.likes_count" class="btn-icon"><i class="material-icons">&#xE87D;</i></button>
              <p>{{count}}</p>
            </div>
              <button ng-click="vm.closeModal('custom-modal-' + $id);" class="btn-close-modal">Close</button>
          </div>
      </div>
      <div class="modal-background"></div>
  </modal>
</div>
