<div ng-click="vm.openModal('custom-modal-' + $id)" class="shot-component-content" ng-repeat="shot in shots | filter: searchKeyword">
  <div class="shot">
    <img ng-src="{{shot.images.teaser}}" alt="{{shot.title}}" class="picture">
    <div class="shot-label shot-icons">
      <span class="align-icons"><i class="material-icons">&#xE8F4;</i><span>{{shot.views_count}}</span></span>
      <span class="align-icons"><i class="material-icons">&#xE0CA;</i><span>{{shot.comments_count}}</span></span>
      <span class="align-icons"><i class="material-icons">&#xE87D;</i><span>{{shot.likes_count}}</span></span>
    </div>
    <div class="shot-label hidden-label-info">
      <p class="shot-label-title">{{shot.title}}</p>
      <p class="shot-label-description">{{shot.description}}</p>
    </div>
    <div class="user-label">
      <img ng-src="{{shot.user.avatar_url}}" alt="" class="avatar-label">
      <h2 class="shot-label-user">{{shot.user.name}}</h2>
    </div>
  </div>
  <modal id="{{ 'custom-modal-' + $id }}">
      <div class="modal">
          <div class="modal-body">
            <div class="col-md-6">
            <img ng-src="{{shot.user.avatar_url}}" alt="" class="avatar-label">
            <p>{{shot.title}}</p>
            <h2 class="shot-label-user">{{shot.user.name}}</h2>
            <img ng-src="{{shot.images.normal}}" alt="{{shot.title}}">
            </div>
            <div class="col-md-4">
            <div class="align-icons">
            <button ng-click="count = count + 1" ng-init="count=shot.likes_count" class="btn-icon"><i class="material-icons">&#xE87D;</i></button>
            <p>{{count}}</p>
            </div>
            </div>
              <button ng-click="vm.closeModal('custom-modal-' + $id);" class="btn-icon btn-close-modal"><i class="material-icons">&#xE5CD;</i></button>
          </div>
      </div>
      <div class="modal-background"></div>
  </modal>
</div>
